.container {
  background-color: #ffffff;
}
.tablee {
  margin: 30px;
  height: 501px;
  overflow-y: scroll;
  left: 262px;
  top: 93px;
  background: #ebe6e6;
  border-radius: 20px;
  border: 1px solid #ebe6e6;
}
.tableHeader {
  height: 50px;
  margin: 20px 30px;
}
.tableBody {
  height: 450px;
}
.search_box {
  position: relative;
  width: 242px;
  height: 40px;
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #817a7a;
  border-radius: 5px;
}
.search_icon {
  position: absolute;
  top: 5px;
  left: 5px;
}
.search_bar {
  border: none;
  width: 233px;
  height: 38px;
  padding-left: 25px;
}

.filter_bar {
  background: #ebf3ff;
  border-radius: 10px;
}

.add_new_btn {
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}
.export_btn {
  text-align: center;
  border-radius: 10px;
}
.export_name {
  width: 69px;
  height: 21px;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #04032b;
}
